<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Global</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/navbar/navbar.css" />
    <link rel="stylesheet" href="/events/eventstyle.css" />

    <style>
      body {
        background-color: #02101c;
        margin: 0px;
        font-family: "segoe ui";
      }
      .displayNone {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">
          <a href="#0">
            <img
              style="
                height: 65px;
                width: 85px;
                padding-top: 2px;
                padding-left: 10px;
              "
              src="/assets/img/logo.png"
              alt="Global"
            />
            <p></p>
          </a>
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/clubs">Clubs</a>
        <a id="login-btn" href="/auth/login">Signup</a>
        <a id="logout-btn" class="displayNone" href="">Logout</a>
      </div>
    </div>

    <div>
      <h2 style="color: #eee; text-align: center; margin: 30px">Clubs</h2>
    </div>

    <div class="wrap">
      <%for(let club of clubs){%>
      <div class="box">
        <div class="box-top">
          <img class="box-image" src="<%=club.image%>" />
          <div class="title-flex">
            <h3 class="box-title"><%=club.name%></h3>
          </div>
          <p class="description"><%=club.desc%></p>
        </div>
        <form name="form">
          <input
            class="displayNone"
            type="text"
            name="clubId"
            value="<%=club._id%>"
          />
          <button class="button" type="submit" id="view-btn">View event</button>
        </form>
      </div>
      <%}%>
    </div>

    <script>
      const signed_user =
        localStorage.getItem("user") &&
        JSON.parse(localStorage.getItem("user"));

      const logout_btn = document.querySelector("#logout-btn");
      const login_btn = document.querySelector("#login-btn");

      if (signed_user) {
        toggleClass();
      }

      function toggleClass() {
        login_btn.classList.toggle("displayNone");
        logout_btn.classList.toggle("displayNone");
      }

      logout_btn.addEventListener("click", () => {
        localStorage.clear();
        window.location.href = "/";
      });

      const viewBtn = document.getElementById("view-btn");
      const forms = document.getElementsByName("form");

      const user =
        localStorage.getItem("user") &&
        JSON.parse(localStorage.getItem("user"));

      for (form of forms) {
        form.addEventListener("submit", async (event) => {
          event.preventDefault();
          if (user) {
            window.location.href = `/events/${event.target.clubId.value}/${user.authToken}`;
          } else {
            window.location.href = `/events/noAuth/${event.target.clubId.value}`;
          }
        });
      }
    </script>
  </body>
</html>
