<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/details/detailstyle.css" />
    <title>Document</title>
    <link rel="stylesheet" href="/navbar/navbar.css" />
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">
          <a href="#0">
            <img
              style="
                height: 65px;
                width: 85px;
                padding-top: 10px;
                padding-left: 10px;
              "
              src="/assets/img/logo.png"
            />
            <p></p>
          </a>
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <div class="nav-links">
        <a class="" href="/">Home</a>
        <a href="/clubs">Clubs</a>
        <a class="" id="login-btn" href="/auth/login">Sign In</a>
        <a class="displayNone" id="logout-btn" href="">Logout</a>
      </div>
    </div>
  </body>
</html>

<script>
  const user = JSON.parse(localStorage.getItem("user"));

  const logout_btn = document.querySelector("#logout-btn");
  const login_btn = document.querySelector("#login-btn");

  if (user) {
    toggleClass();
  }

  function toggleClass() {
    login_btn.classList.toggle("displayNone");
    logout_btn.classList.toggle("displayNone");
  }

  logout_btn.addEventListener("click", () => {
    localStorage.clear();
    window.location.href = "/";
  });
</script>
